
/* TABS */
.tabs-vertical .tabs {
  height: auto;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: flex;
}
.tabs-vertical .tab {
   width: 100%;
}
.tabs-vertical .tab .active {
  -moz-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
  border-right: 6px solid black;
}         
.tabs-vertical .tab :hover {
  border-right: 0px solid #7b1fa2;
}

.tabs .indicator {
  background-color: transparent;
}


.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#ce93d8;
    color:white;
} /*Text color on hover*/

.tabs .tab a:focus.active {
  background-color:#ab47bc;
  color:white;
  border-right: 6px solid black;

}
.tabs .tab a.active {
    background-color:#ab47bc;
    color:white;
} /*Background and text color when a tab is active*/


/* Select nominees in voting page */
[type=radio] + div {
  border: 2px solid white;
    cursor: pointer;
}
[type=radio]:checked + div {
  border: 2px solid #7b1fa2;
}


/* Nominee card in nomination page of department */
.nomitem {
	font-size: .8rem;
	color: #9e9e9e;
}
.nomstatus { 
	color:grey;
  /*border-color: #7b1fa2;
	padding-left: 8px;
	background-color:#7b1fa2;
	color:white;
	border-radius: 3px;*/
}
/*Project Name*/
.maintxt {
	font-family: Segoe UI;
	font-size: 31px;
}
/*Banner containing project name */
.banner {
	margin:0px;
	padding:25px 30px 15px 35px;
}
/* The main white div after the banner */
.maincard {
	border-radius: 8px;
	margin-top:10px;
	padding:25px !important;
}

.input-field label { 
    pointer-events: all !important;
}