<!DOCTYPE html>
<html ng-app="SelectModule">
    <head>
        <title>Select Nominees</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="css/custom.css"  media="screen,projection"/>
        <link rel="icon" type="image/png" href="images/favicon.png">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ajax-client.js"></script>
    </head>


    <body class="grey lighten-3" ng-controller="SelectController as slCtrl">

        <div class="purple darken-3 white-text dz-depth-4 s12 banner">
            <div class="row">
                <div class="col s8"><div class="maintxt"> Awards Manager</div></div>

                <div class="col s4 right-align">
                    <div class="row" style="padding: 0px; margin:0px">
                        <div class="col s6 right-align">
                           Name: {{slCtrl.loggedUserName}} <br/>
                           Account: {{slCtrl.loggedUserType}}
                        </div>
                        <div class="col s6 right-align" onclick="logout()" >
                            <a class="waves-effect waves-light btn purple darken-3" style="margin-top:5px;">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <h5>Department : {{slCtrl.department}}</h5>
            <div class="row">
                <div class="card z-depth-0 col s12 maincard">
                    <div class="row">
                        <div class="tabs-vertical">
                            <!--tab button on the left-->
                            <div class="col m4 s12">
                                <ul class="tabs">
                                    <li class="tab" ng-repeat="appSet in slCtrl.ApplicationsByCategory">
                                        <a ng-if="$index === 0" class="tablinks active" href="#{{appSet.categoryName}}" ng-click="slCtrl.selectTab(appSet.categoryName)"> {{appSet.categoryName}}</a>
                                        <a ng-if="$index !== 0" class="tablinks" href="#{{appSet.categoryName}}" ng-click="slCtrl.selectTab(appSet.categoryName)"> {{appSet.categoryName}}</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- table panels with nominees on the right -->
                            <div class="col m8 s12">
                                <div ng-repeat="appSet in slCtrl.ApplicationsByCategory">
                                    <div id="{{appSet.categoryName}}" class="tab-content">  
                                        <!--Nominated Person Sample -->
                                        <div class="row" style="margin:0px;" ng-repeat="application in appSet.applications">
                                            <div class="card z-depth-1 col s12 nomitem" style="padding:15px 20px 0px 20px;">
                                                <div class="row">
                                                    <!-- Nominees details and Status -->
                                                    <div class="col s9">
                                                        {{application.userCandidate}}<br>

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <!-- Status -->
                                                    <div class="col s12">
                                                        <div class="nomstatus">
                                                            Status: {{application.status}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Adding new nomination form-->
                                        <div class="row" style="margin:0px;"  ng-show="!appSet.applications.length">
                                            <form ng-submit="slCtrl.submitNom(nomination)" class="card z-depth-1 col s12 " style="padding:15px 20px 0px 20px;border:2px solid #6a1b9a;">
                                                <div class="row">
                                                    <div class="input-field inline col s6">
                                                        <input id="first_name" type="text" class="validate" ng-model="nomination.first_name">
                                                        <label for="first_name" class="active">First Name</label>
                                                    </div>
                                                    <div class="input-field inline col s6">
                                                        <input id="last_name" type="text" class="validate" ng-model="nomination.last_name">
                                                        <label for="last_name" class="active">Last Name</label>  
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field inline col s12">
                                                        <input id="email" type="email" class="validate" ng-model="nomination.email">
                                                        <label for="email" class="active">Email</label>
                                                    </div>
                                                </div>
                                                <div class="row right-align">
                                                    <button class="btn waves-effect waves-light purple darken-3" type="submit" name="action">
                                                        Nominate
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>


                                    {{slCtrl.inittabs()}}
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>

    </body>
</html>